.svn
lib
bin
*.d
*.o
*.so
LogReaderWithFileServer
PixelConfigDBGUI/
PixelFunctionManager/
PixelHistoViewer/
PixelMonitor/
PixelFEDMonitor/
PixelSupervisorGUI/
RPM.version
VERSION
config
PixelTTCSupervisor/
doc/
PixelConfigDBInterface/
